%html
  %head
    %title= content_for(:title) || "ScreenBetter"
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}
    %meta{name: "apple-mobile-web-app-capable", content: "yes"}
    %meta{name: "mobile-web-app-capable", content: "yes"}
    = csrf_meta_tags
    = csp_meta_tag

    = yield :head

    %link{rel: "icon", href: "/icon.png", type: "image/png"}
    %link{rel: "icon", href: "/icon.svg", type: "image/svg+xml"}
    %link{rel: "apple-touch-icon", href: "/icon.png"}

    = stylesheet_link_tag "tailwind", "data-turbo-track": "reload"
    = javascript_importmap_tags "application"

  %body
    %header.bg-indigo-600.text-white.p-4
      .container.mx-auto.flex.items-center.justify-between
        %h1.text-2xl.font-semibold
          = link_to "ScreenBetter", authenticated_root_path
        %nav
          %ul.flex.space-x-4
            - if current_user
              %li
                = link_to "Change Password", edit_user_registration_path
              %li
                = link_to "Sign Out", destroy_user_session_path, method: :delete
    %main.p-4
      .container.mx-auto
        .flash-messages.mb-4
          = render "shared/flash_messages"
        .content
          = yield
